# Default values for todo-backend.
replicaCount: 1

image:
  repository: todo-backend
  tag: "latest"
  pullPolicy: Never

service:
  type: ClusterIP
  port: 8001

env:
  DATABASE_URL: "postgresql://neondb_owner:npg_JIVLmKzCs30W@ep-bold-surf-ah3dx6q5-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require"
  BETTER_AUTH_SECRET: "iQqaa/xGZmT9Gb0Jh4KEvMJVXghH82rxBk6tqPOsqgQ="
  CORS_ORIGINS: "http://localhost:3000,http://todo-frontend:3000"
  DEBUG: "false"
  JWT_ALGORITHM: "HS256"
  JWT_EXPIRY_DAYS: "7"
